<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghibli Studio </title>
    <script href="main.js"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/icon/fontawesome-free-6.2.0-web/fontawesome-free-6.2.0-web/css/all.css">
</head>
<body>
    
    <div id="main">
        <!--Begin Header-->
        <div id="header">
            <div class="header__logo">
                <img src="https://i.pinimg.com/564x/f8/33/5b/f8335b67ce15d3e1e8da4e70a7922fd0.jpg" class="header__logo-img">
            </div>
            <div>
                <ul id="nav"> <!--ul#nav>li*5>a-->
                <li><a href="index.html">Home</a></li>
               
                <li >
                    <a href="">Film genre
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="family.html" target="_blank">Family</a></li>
                        <li><a href="romance.html" target="_blank">Romance</a></li>
                        <li><a href="adventure.html" target="_blank">Adventure</a></li>
                        <li><a href="war.html" target="_blank">War</a></li>
                        <li><a href="drama.html" target="_blank">Drama</a></li>
                        <li><a href="fantasy.html" target="blank">Fantasy</a></li>
                    </ul>
                </li>
                <li><a href="about.html" class=""> ABOUT </a></li>

                <!-- <li>
                    <a href="">
                        Watchlist
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="">.</a></li>
                        <li><a href="">.</a></li>
                        <li><a href="">.</a></li>
                    </ul>
                </li> -->
            </ul>
            </div>
            
            
            <div class="search-btn">
                <div class="search-icon fa fa-magnifying-glass"></div>
            </div>
        </div>

        <div id="slider">
            <div class="text-content"> 
             <marquee scrollamount="7" class="text-heading">Welcome to Studio Ghibli</marquee>
             <!-- <div class="text-description">The atmosphere in New York is lorem ipsum.</div>  -->
             </div>
        </div>

        <div id="content">
            <!--About section-->
             <!-- <div class="content-section">
                 <h2 class="section-heading">ABOUT STUDIO GHIBLI</h2>
                 <p class="section-sub-heading">...</p>
                 <p class="about-text">
                    Studio Ghibli was founded in 1985 by animated film directors Isao Takahata and Hayao Miyazaki, and has produced twenty-two feature-length films. Most Studio Ghibli films ranked number one at the box office in Japan in the year in which they were released. SPIRITED AWAY, directed by Hayao Miyazaki and released in 2001, is the all-time highest grossing film in Japan, earning over 30 billion yen at the box office.
                    <br><br>
                    Studio Ghibli films have garnered numerous awards and critical acclaim from film critics and animation specialists around the world. SPIRITED AWAY was awarded the Golden Bear as the Best Feature Film at the 2002 Berlin International Film Festival and won the 2002 Academy Award for Best Animated Feature Film. In October 2001, Studio Ghibli, in conjunction with The Tokuma Memorial Cultural Foundation for Animation, founded the Ghibli Museum, Mitaka, designed by Hayao Miyazaki.
                    <br><br>
                    THE WIND RISES (2013), THE TALE OF THE PRINCESS KAGUYA (2013), WHEN MARNIE WAS THERE (2014) and THE RED TURTLE (2016), the last four films released by Studio Ghibli, have earned the studio four consecutive Academy Award nominations for Best Animated Feature Film. The studio is currently working on a new production.
                    <br><br>
                    Five of the studio's films are among the ten highest-grossing anime feature films made in Japan. Spirited Away is second, grossing 31.68 billion yen in Japan and over US$380 million worldwide, and Princess Mononoke is fourth, grossing 20.18 billion yen. Three of their films have won the Animage Grand Prix award, four have won the Japan Academy Prize for Animation of the Year, and five have received Academy Award nominations. Spirited Away won the 2002 Golden Bear and the 2003 Academy Award for Best Animated Feature. The Boy and the Heron won the 2024 Golden Globe Award for Best Animated Feature Film,BAFTA Award for Best Animated Film, and the 2024 Academy Award for Best Animated Feature.
                    <br><br>
                    The name "Ghibli" was chosen by Miyazaki from the Italian noun ghibli (also used in English), the nickname of Italy's Saharan scouting plane Caproni Ca.309, in turn derived from the Italianization of the Libyan Arabic name for a hot desert wind (قبلي qibliyy). The name was chosen by Miyazaki due to his passion for aircraft and also for the idea that the studio would "blow a new wind through the anime industry". Although the Italian word would be more accurately transliterated as "Giburi" (ギブリ), with a hard g sound, the studio's name is written in Japanese as Jiburi (ジブリ)
                </p> 
                
                <div class="slider-scroll">
                    <div class="slider-group">
                        <div id="slider26"></div>      
                        <div id="slider27"></div>  
                        <div id="slider28"></div>                     


                        <div id="slider2">
                            <div class="text-content"> 
                
                            </div>
                        </div>
                        <div id="slider4">
                            <div class="text-content"> 
                            </div>
                        </div>
                        <div id="slider5">
                            <div class="text-content"> 
                
                            </div>
                        </div>
                        <div id="slider6">
                            <div class="text-content"> 
                
                            </div>
                        </div>
                        <div id="slider7">
                            <div class="text-content"> 
                
                            </div>
                        </div>
                        <div id="slider8">
                            <div class="text-content"> 
                                
                            </div>
                        </div>
                        <div id="slider9">
                            <div class="text-content"> 
                
                            </div>
                        </div>
                        <div id="slider10">
                            <div class="text-content"> 
                                
                            </div>
                        </div>
                        <div id="slider11"></div>
                        <div id="slider12"></div>
                        <div id="slider13"></div>
                        <div id="slider14"></div>
                        <div id="slider15"></div>
                        <div id="slider16"></div>
                        <div id="slider17"></div>
                        <div id="slider18"></div>
                        <div id="slider19"></div>
                        <div id="slider20"></div>
                        <div id="slider21"></div>
                        <div id="slider22"></div>
                        <div id="slider23"></div>
                        <div id="slider24"></div>
                        <div id="slider25"></div> 

                    </div>
                </div>                   
            </div> -->

            <!--Tuor section--> 
            <div class="tuor-section">

                <div class="content-section">
                    <h2  class="section-heading text-white" style="margin-left: 15%;margin-right: 15%">The 25 Most Worth-Watching <br> Ghibli Animated Movies of All Time</h2>
                    <p class="section-sub-heading text-white">Remember to choose your favorite movie!</p>
                    <br>
                    <!-- Tickets-->
                    <!-- <ul class="tickets-list">
                        <li>September <span class="Sold-out"> Soul out</span></li>
                        <li>October <span class="Sold-out"> Sold out</span></li>
                        <li>November <span class="quantity">3</span></li>
                    </ul> -->

                    <!--Places-->
                    <hr>
                    <div class="row places-list">
                        <div class="col col-third">
                            <img src="../assets/img/places/place1.jpg" alt="Spirited Away" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading"> <a href="https://www.imdb.com/title/tt0245429/" target="_blank">Spirited Away</a></h3>
                                <p class="place-time">2001</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 2h 5m </p>
                                <a href="https://www.imdb.com/video/vi3619684633/?playlistId=tt0245429&ref_=tt_pr_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>   
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place2.jpg" alt="Laputa Castle In The Sky" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading"> 
                                    <a href="https://www.imdb.com/title/tt0092067/?ref_=nv_sr_srsg_0_tt_6_nm_2_q_Castle%2520In%2520The%2520Sky" target="_blank">Laputa Castle In The Sky </a>   
                                </h3>
                                <p class="place-time">1986</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 2h 4m </p>
                                <a href="https://www.imdb.com/video/vi3437035801/?playlistId=tt0092067&ref_=tt_pr_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place3.jpg" alt="Grave of the Fireflies" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0095327/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_Grave%2520of%2520the%2520Fireflies" target="blank" > Grave of the Fireflies </a>                     
                                </h3>
                                <p class="place-time">1988</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 28m </p>
                                <a href="https://www.imdb.com/video/vi1377679385/?playlistId=tt0095327&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>

                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place4.jpg" alt="Only Yesterday" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0102587/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_Only%2520Yesterday" target="_blank" >Only Yesterday </a>
                                </h3>
                                <p class="place-time">1991</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 58m </p>
                                <a href="https://www.imdb.com/video/vi3906123801/?playlistId=tt0102587&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play </a>

                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place5.jpg" alt="Whisper of the Heart" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0113824/?ref_=nv_sr_srsg_0_tt_5_nm_3_q_Whisper%2520of%2520the%2520Heart" target="_blank" >Whisper of the Heart </a>
                                </h3>
                                <p class="place-time">1995</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 51m </p>
                                <a href="https://www.imdb.com/video/vi825015321/?playlistId=tt0113824&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                                
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place6.jpg" alt="Howl’s Moving Castle" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0347149/?ref_=fn_al_tt_1" target="_blank" >Howl’s Moving Castle </a>
                                </h3>
                                <p class="place-time">2004</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 59m </p>
                                <a href="https://www.imdb.com/video/vi3502817561/?playlistId=tt0347149&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place7.jpg" alt="Princess Mononoke" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0119698/?ref_=nv_sr_srsg_0_tt_6_nm_0_q_Princess%2520Mononoke" target="_blank" Princess Mononoke>Princess Mononoke</a>
                                </h3>
                                <p class="place-time">1997</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 2h 19m </p>
                                <a href="https://www.imdb.com/video/vi2563293465/?playlistId=tt0119698&ref_=tt_ov_vi" target="_blank" class="place-buy-btn" ><i class="fa-solid fa-play"></i>Play </a>         
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place8.jpg" alt="My Neighbor Totoro" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0096283/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_My%2520Neighbor%2520Totoro" target="_blank" >My Neighbor Totoro </a>
                                </h3>
                                <p class="place-time">1988</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 26m </p>
                                <a href="https://www.imdb.com/video/vi3871916313/?playlistId=tt0096283&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>

                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place9.jpg" alt="From Up on Poppy Hill" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt1798188/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_From%2520Up%2520on%2520Poppy%2520Hill" target="_blank" >From Up on Poppy Hill </a>
                                </h3>
                                <p class="place-time">2011</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 31m </p>
                                <a href="https://www.imdb.com/video/vi2859509529/?playlistId=tt1798188&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                                
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place10.jpg" alt="Kiki’s Delivery Service" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0097814/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_Kiki%25E2%2580%2599s%2520Delivery%2520Service" target="_blank" >Kiki’s Delivery Service </a>
                                </h3>
                                <p class="place-time">1989</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 43m </p>
                                <a href="https://www.imdb.com/video/vi286197529/?playlistId=tt0097814&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                                
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place11.jpg" alt="When Marnie Was There" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt3398268/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_When%2520Marnie%2520Was%2520There" target="_blank" > When Marnie Was There</a>
                                </h3>
                                <p class="place-time">2014</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 43m </p>
                                <a href="https://www.imdb.com/video/vi647671833/?playlistId=tt3398268&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>

                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place12.jpg" alt="My Neighbors The Yamadas" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href=" https://www.imdb.com/title/tt0206013/?ref_=nv_sr_srsg_0_tt_1_nm_0_q_My%2520Neighbors%2520The%2520Yamadas" target="_blank" >My Neighbors The Yamadas </a>                                
                                </h3>
                                <p class="place-time">1999</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 44m </p>
                                <a href="https://www.imdb.com/video/vi3339764505/?playlistId=tt0206013&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place13.jpg" alt="The Wind Rises" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0347618/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_The%2520Cat%2520Returns" target="_blank" > The Cat Returs</a>
                                </h3>
                                <p class="place-time">2002</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 15m </p>
                                <a href="https://www.imdb.com/video/vi3906928921/?playlistId=tt0347618&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place14.jpg" alt="The Wind Rises" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt2013293/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_The%2520Wind%2520Rises" target="_blank" > The Wind Rises</a>
                                </h3>
                                <p class="place-time">2013</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 2h 6m </p>
                                <a href="https://www.imdb.com/video/vi155101209/?playlistId=tt2013293&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place15.jpg" alt=" Ponyo" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0876563/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_Gake%2520No%2520Ue%2520No%2520Ponyo" target="_blank">Ponyo </a>
                                </h3>
                                <p class="place-time">2008</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 40m </p>
                                <a href="https://www.imdb.com/video/vi3605017/?playlistId=tt0876563&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place16.jpg" alt="Tales From Earthsea" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0495596/?ref_=nv_sr_srsg_0_tt_1_nm_0_q_Tales%2520From%2520Earthsea" target="_blank" > Tales From Earthsea</a>
                                </h3>
                                <p class="place-time">2006</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 55m </p>
                                <a href="https://www.imdb.com/video/vi964953625/?playlistId=tt0495596&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                                
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place17.jpg" alt="The Secret World Of Arrietty" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt1568921/?ref_=nv_sr_srsg_0_tt_1_nm_7_q_The%2520Secret%2520World%2520Of%2520Arrietty" target="_blank" >The Secret World Of Arrietty </a>
                                </h3>
                                <p class="place-time">2010</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 34m </p>
                                <a href="https://www.imdb.com/video/vi1087741465/?playlistId=tt1568921&ref_=tt_pr_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>    
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place18.jpg" alt="The Tale Of Princess Kaguya" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt2576852/?ref_=nv_sr_srsg_0_tt_1_nm_7_q_The%2520Tale%2520Of%2520Princess%2520Kaguya" target="_blank" >The Tale Of Princess Kaguya </a>
                                </h3>
                                <p class="place-time">2013</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 2h 17m </p>
                                <a href="https://www.imdb.com/video/vi3700862745/?playlistId=tt2576852&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                                
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place19.jpg" alt="Porco Rosso" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading"> 
                                    <a href="https://www.imdb.com/title/tt0104652/?ref_=nv_sr_srsg_0_tt_3_nm_4_q_Porco%2520Rosso" target="_blank" >Porco Rosso </a>
                                </h3>
                                <p class="place-time">1992</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 34m </p>
                                <a href="https://www.imdb.com/video/vi4098539033/?playlistId=tt0104652&ref_=tt_pr_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                                
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place20.jpg" alt="Ocean Waves" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0108432/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_Ocean%2520Waves" target="_blank" >Ocean Waves </a>
                                </h3>
                                <p class="place-time">1993</p>
                                <p class="place-desc"> <i class="fa-regular fa-clock"></i> 1h 12m </p>
                                <a href="https://www.imdb.com/video/vi4117083673/?playlistId=tt0108432&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                                
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place21.jpg" alt="Pom Poko" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0110008/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_cu%25E1%25BB%2599c%2520chi%25E1%25BA%25BFn%2520g%25E1%25BA%25A5u" target="_blank" >Pom Poko </a>
                                </h3>
                                <p class="place-time">1994</p>
                                <p class="place-desc"> <i class="fa-regular fa-clock"></i> 1h 12m </p>
                                <a href="https://www.imdb.com/video/vi3200827673/?playlistId=tt0110008&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place22.jpg" alt="Your Name" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt5311514/?ref_=nv_sr_srsg_4_tt_7_nm_1_q_your%2520" target="_blank" >Your Name</a>
                                </h3>
                                <p class="place-time">2016</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 47m </p>
                                <a href="https://www.imdb.com/video/vi1705097753/?playlistId=tt5311514&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                                
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place23.jpg" alt="Nausicaä of The Valley Of The Wind" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0087544/?ref_=nv_sr_srsg_3_tt_2_nm_6_q_Nausica%25C3%25A4%2520" target="_blank" >Nausicaä of The Valley Of The Wind</a>
                                </h3>
                                <p class="place-time">2016</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 47m </p>
                                <a href="https://www.imdb.com/video/vi3336503577/?playlistId=tt0087544&ref_=tt_pr_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                                
                            </div>
                        </div>
                        <div class="col col-third">
                            <img src="../assets/img/places/place24.jpg" alt="The red turtle" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt3666024/" target="_blank" >The red turtle</a>
                                </h3>
                                <p class="place-time">2016</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 47m </p>
                                <a href="https://www.imdb.com/video/vi1519564313/?playlistId=tt3666024&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                                
                            </div>
                        </div>
                        
                        <div class="col col-third">
                            <img src="../assets/img/places/place25.jpg" alt="The boy and the heron" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt6587046/?ref_=ttls_li_tt" target="_blank" >The boy and the heron</a>
                                </h3>
                                <p class="place-time">2023</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 47m </p>
                                <a href="https://www.imdb.com/video/vi1914357529/?playlistId=tt6587046&ref_=tt_pr_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>   
                            </div>
                        </div>
                        <div class="clear"></div>
                        
                    </div>
                       <div id="slider3">
                            <div class="text-content"> 
                             <!-- <h2 class="text-heading">GHIBLI</h2>
                             <div class="text-description">The atmosphere in  is lorem ipsum.</div> -->
                             </div>
                        </div>
                   </div>   
            </div>

            <!--Contact-->
            <div class="content-section">
                <h2 class="section-heading" style="">CONTACT</h2>
                <p class="section-sub-heading">
                    <i class="fa-regular fa-envelope" style="margin-right: 5px;"></i> 
                    <a href="mailto:tranthilinh6603@gmail.com" id="sendEmail">tranthilinh6603@gmail.com</a>
                </p>
                <!-- <div class="row contact-content">
                    <div class="col col-half contact-info">
                       <p><i class=" fa fa-location-dot">Chicago,US</i></p>
                       <p><i class="fa-solid fa-mobile-screen">Phone:+001515151</i></p>
                       <p><i class="fa-regular fa-envelope">Email:mail@mail.com</i></p>
                       
                      
                    </div>
                    <div class="col col-half">
                        <form action="">
                            <div class="row">
                                <div class="col col-half">
                                    <input type="text" name="" placeholder="Name" id="" class="form-control">
                                </div>
                                <div class="col col-half">
                                    <input type="text" name="" placeholder="Email" id="" class="form-control">
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col col-full">
                                    <input type="text" name="" placeholder="Messages" id="" class="form-control">
                                </div> 
                            </div>
                             <input id="send" type="submit" value="SEND" >
                        </form>

                    </div>
                </div>
            </div>          -->              
            </div>
        </div>

        <div id="footer">

        </div>
    </div>
    <!-- <div class="modal">
        <div class="modal-container">
            <div class="modal-close">
                <i class="fa fa-xmark"></i>
            </div>
            <header class="modal-header">
                <i class="model-heading-icon fa-solid fa-suitcase">
                    Tickets
                </i>
            </header>

            <div class="modal-body">
                <label for="ticket-quantity" class="modal-label">
                    <i class="fa fa-cart-shopping"></i>
                    Tickets, $15 per person
                </label>
                <input id="ticket-quantity" type="text" class="modal-input" placeholder="How many?">
                <label for="ticket-email" class="modal-label">
                    <label for="" class="modal-label">
                    <i class="fa-solid fa-user"></i>
                    Send to
                </label>
                <input id="ticket-email" type="email" class="modal-input" placeholder="Enter email">

                <button id="buy-ticket">
                    PAY <i class="fa fa-check"></i>
                </button>
            </div>

            <footer class="modal-footer">
                <p class="modal-help">Need <a href="">help?</a></p>
            </footer>
        </div>
    </div> -->
</body>
</html>