<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romance </title>
    <link rel="stylesheet" href="../assets/css/genre.css">
    <link rel="stylesheet" href="../assets/icon/fontawesome-free-6.2.0-web/fontawesome-free-6.2.0-web/css/all.css">
</head>
<body>
    <div id="main">
        <!--Begin Header-->
        <div id="header">
            <div class="header__logo">
                <img src="https://i.pinimg.com/564x/f8/33/5b/f8335b67ce15d3e1e8da4e70a7922fd0.jpg" class="header__logo-img">
            </div>
            <ul id="nav"> <!--ul#nav>li*5>a-->
                <li><a href="index.html">Home</a></li>
                <li>
                    <a href="">Film genre
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="family.html" target="_blank">Family</a></li>
                        <li><a href="romance.html" target="_blank">Romance</a></li>
                        <li><a href="adventure.html" target="_blank">Adventure</a></li>
                        <li><a href="war.html" target="_blank">War</a></li>
                        <li><a href="drama.html" target="_blank">Drama</a></li>
                        <li><a href="fantasy.html" target="_blank">Fantasy</a></li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="">
                        Watchlist
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="">.</a></li>
                        <li><a href="">.</a></li>
                        <li><a href="">.</a></li>
                    </ul>

                </li> -->
            </ul>
            
            <div class="search-btn">
                <div class="search-icon fa fa-magnifying-glass"></div>
            </div>
        </div>

        <div id="slider">
            <div class="text-content"> 
             <!-- <marquee scrollamount="7" class="text-heading">Romance</marquee> -->
             <!-- <div class="text-description">The atmosphere in New York is lorem ipsum.</div>  -->
             </div>
        </div>

        <div id="content">
            <!--Tuor section--> 
            <div class="tuor-section">

                <div class="content-section">
                    <h2  class="section-heading text-white">Romance</h2>
                    <p class="section-sub-heading text-white">Remember to choose your favorite movie!</p>
                    <br>
                    
                    <!--Places-->
                    <hr>
                    <div class="row places-list">
                        <div class="col col-third" style="width: 33.333%;">
                            <img src="../assets/img/places/place5.jpg" alt="Whisper of the Heart" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0113824/?ref_=nv_sr_srsg_0_tt_5_nm_3_q_Whisper%2520of%2520the%2520Heart" target="_blank" >Whisper of the Heart </a>
                                </h3>
                                <p class="place-time">1995</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 51m </p>
                                <a href="https://www.imdb.com/video/vi825015321/?playlistId=tt0113824&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                                
                            </div>
                        </div>
                        <div class="col col-third" style="width: 33.333%;">
                            <img src="../assets/img/places/place7.jpg" alt="Princess Mononoke" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0119698/?ref_=nv_sr_srsg_0_tt_6_nm_0_q_Princess%2520Mononoke" target="_blank" Princess Mononoke>Princess Mononoke</a>
                                </h3>
                                <p class="place-time">1997</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 2h 19m </p>
                                <a href="https://www.imdb.com/video/vi2563293465/?playlistId=tt0119698&ref_=tt_ov_vi" target="_blank" class="place-buy-btn" >Play </a>         
                            </div>
                        </div>
                        <div class="col col-third" style="width: 33.333%;">
                            <img src="../assets/img/places/place6.jpg" alt="Howl’s Moving Castle" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0347149/?ref_=fn_al_tt_1" target="_blank" >Howl’s Moving Castle </a>
                                </h3>
                                <p class="place-time">2004</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 59m </p>
                                <a href="https://www.imdb.com/video/vi3502817561/?playlistId=tt0347149&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                            </div>
                        </div>
                        <div class="col col-third" style="width: 33.333%;">
                            <img src="../assets/img/places/place4.jpg" alt="Only Yesterday" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt0102587/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_Only%2520Yesterday" target="_blank" >Only Yesterday </a>
                                </h3>
                                <p class="place-time">1991</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 58m </p>
                                <a href="https://www.imdb.com/video/vi3906123801/?playlistId=tt0102587&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play </a>

                            </div>
                        </div>
                        <div class="col col-third" style="width: 33.333%;">
                            <img src="../assets/img/places/place9.jpg" alt="From Up on Poppy Hill" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt1798188/?ref_=nv_sr_srsg_0_tt_8_nm_0_q_From%2520Up%2520on%2520Poppy%2520Hill" target="_blank" >From Up on Poppy Hill </a>
                                </h3>
                                <p class="place-time">2011</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 31m </p>
                                <a href="https://www.imdb.com/video/vi2859509529/?playlistId=tt1798188&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                                
                            </div>
                        </div>
                        <div class="col col-third" style="width: 33.333%;">
                            <img src="../assets/img/places/place22.jpg" alt="Your Name" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">
                                    <a href="https://www.imdb.com/title/tt5311514/?ref_=nv_sr_srsg_4_tt_7_nm_1_q_your%2520" target="_blank" >Your Name</a>
                                </h3>
                                <p class="place-time">2016</p>
                                <p class="place-desc"><i class="fa-regular fa-clock"></i> 1h 47m </p>
                                <a href="https://www.imdb.com/video/vi1705097753/?playlistId=tt5311514&ref_=tt_ov_vi" target="_blank" class="place-buy-btn"><i class="fa-solid fa-play"></i> Play</a>
                                
                            </div>
                        </div>

                        <div class="clear"></div>
                        
                    </div>                      
                    </div>   
            </div>

        </div>

        <div id="footer">
            <div class="end_footer">
                <ul class="end_footer-about" >
                    <h3>ABOUT</h3> 
                    <li><a href="about.html">Studio Ghibli</a></li>
                    <li><a href="https://ghiblicollection.com/pages/faqs">FAQs</a></li>
                    <li><a href="https://ghiblicollection.com/pages/contact-us">Contact Us</a></li>
                </ul>
            </div>
            <!-- <div class="end_footer">
                <ul class="end_footer-inf"> 
                    <h3>INFORMATION</h3>
                    <li><a>Filmography</a></li>
                    <li><a>In Theaters</a></li>
                    <li><a>Shop</a></li>
                </ul>
            </div> -->
            <div class="end_footer">
                <ul class="end_footer-contact">
                    <h3>NEWSLETTER SIGN UP</h3> 
                    <li><a>Sign up for exclusive updates, new arrivals & insider only discounts</a></li>
                    <input type="text" id="fname" name="fname" value="enter your email address" >
                        <button> Submit</button> 
                    
                </ul>
            </div>

        </div>
    </div>
   
</body>
</html>